@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,700,700i";

html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: #ececec;
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

.header {
  background: url(../images/header.png) 50%;
  background-size: cover;
  border-radius: 0px;
  height: 25vh;
  flex: 0 0 auto;
}

.header img.headerimg {
  height: 10vh;
}

nav.navbar {
  z-index: 420;
  margin-top: -51px;
  -webkit-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.75);
  background: rgba(255, 255, 255, 0.1);
}

nav.navbar.scrolled {
  background: rgb(31, 31, 31);
}

@media (max-width: 800px) {
  nav.navbar {
    flex: 0 0 auto;
    background: rgb(31, 31, 31);
  }
}
ul.navbar-nav li.nav-item {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.3px;
}

ul.navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

ul.navbar-nav li.nav-item.active a.nav-link {
  color: #12A9E1;
}
ul.navbar-nav li.nav-item:hover a.nav-link {
  color: #166ED8;
}

ul.ml-auto li.dropdown a.dropdown-item {
  letter-spacing: 1.1px;
  font-weight: 500;
  font-size: 12px;
}

ul.ml-auto li.dropdown div.dropdown-menu {
  border-radius: 1px;
  border-color: #d8d8d8;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
ul.ml-auto li.dropdown a.dropdown-item:hover {
  color: #12A9E1;
}

.card {
  transition: all 0.3s;
}
.card:hover {
  transition: all 0.3s;
  -webkit-box-shadow: 1px 2px 6px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 2px 6px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 2px 6px -2px rgba(0, 0, 0, 0.75);
}

.card .card-header {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(48, 111, 79, 1) 0%,
    rgba(75, 171, 88, 1) 100%
  );
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.hiddentablerow {
  padding: 0px !important;
}

.hiddentablerow img {
  padding: 1.25px;
}

footer .container ul.list-inline li.list-inline-item a {
  color: #fff;
}

footer .container ul.list-inline li.list-inline-item a:hover {
  text-decoration: none;
  color: #3bbe4d;
}
